.data_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.data_box input {
  margin-bottom: 2rem;
  padding: 13px;
  color: #888;
  border: none;
  background-color: #f0f0f0;
  font-size: 1.6rem;
}
/*//////////////////////////////////////////////*/
.data_box_small input {
width: 80rem; 
}
/*/ /////////////////////////////////////////////*/
.data_box select,
.data_box textarea {
  margin-bottom: 2rem;
  padding: 13px;
  color: #888;
  border: none;
  background-color: #f0f0f0;
  font-size: 1.6rem;
}
.data_box option {
  color: #777;
}
.data_box label {
  font-size: 1.6rem;
  font-weight: 600;
}
::placeholder {
  font-size: 1.4rem;
}
